.home
{
position:absolute;
background-color:#eeede3;
height:3269px;
width:1440px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
}
.noise
{
height:3180px;
width:1440px;
position:absolute;
top:0px;
left:0px;
}
.rectangle10
{
background-color:rgba(248, 170, 39, 0.5);
height:355px;
width:1440px;
border-radius:64px 64px 0px 0px;
border:2px solid #1c1c1c;
top:2657px;
left:0px;
position:absolute;
}
.rectangle37
{
background-color:rgba(248, 170, 39, 0.5);
height:1116px;
width:1440px;
border-radius:1000px 1000px 0px 0px;
top:972px;
left:0px;
position:absolute;
}
.ilikedesigningthings
{
color:#1c1c1c;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:DM Sans;
align-self:flex-start;
left:575px;
top:912px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:290px;
display:flex;
}
.menu
{
background-color:#ffffff;
height:72px;
width:1440px;
padding:0px;
border-style:hidden;
outline:none;
position:absolute;
top:0px;
left:0px;
}
.rectangle8
{
background-color:#ffffff;
height:72px;
width:1440px;
}
.goodafterjun
{
color:#1c1c1c;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:Orelega One;
line-height:auto;
border-style:hidden;
outline:none;
left:120px;
top:26px;
position:absolute;
width:228px;
}
.works
{
color:#1c1c1c;
text-align:center;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
left:1000px;
top:40px;
width:52px;
height:23px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.about
{
color:#1c1c1c;
text-align:center;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
left:1100px;
top:40px;
width:52px;
height:23px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.union
{
background-color:#1c1c1c;
height:41px;
width:120px;
top:31px;
left:1200px;
position:absolute;
}
.rectangle4
{
background-color:#d9d9d9;
height:41px;
width:120px;
border-radius:100px;
top:31px;
left:1200px;
position:absolute;
}
.polygon1
{
background-color:#d9d9d9;
height:21px;
width:14.000000953674316px;
left:1320px;
top:58px;
position:absolute;
}
.letstalk
{
color:#ffffff;
text-align:center;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
left:1223px;
top:40px;
width:75px;
height:23px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.imadesignerandwebcreatorfocusedoncreatingefficientuserexperiencesandstylishinterfacesilovegoodfoodplayinggamesandspendingtimewithmycats
{
color:#1c1c1c;
text-align:left;
vertical-align:text-top;
font-size:24px;
align-self:flex-start;
left:709px;
top:472px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:545px;
display:flex;
}
.primarybutton
{
background-color:#ffffff;
height:48px;
width:192px;
align-self:flex-start;
left:711px;
top:632px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.rectangle5
{
background-color:#f8aa27;
height:48px;
width:192px;
border-radius:100px;
}
.seemywork
{
color:#1c1c1c;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
left:35px;
top:12px;
width:122px;
height:23px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.union2
{
height:121.76484680175781px;
width:480.0000305175781px;
top:317px;
left:636px;
position:absolute;
}
.rectangle9
{
background-color:#000000;
height:121.76484680175781px;
width:463.1752624511719px;
border-radius:300px;
top:317px;
left:652.82px;
position:absolute;
}
.polygon2
{
background-color:#000000;
height:57.896907806396484px;
width:33.79854202270508px;
left:636px;
top:393px;
position:absolute;
}
.hiimjun
{
color:#1c1c1c;
text-align:left;
vertical-align:text-top;
font-size:72px;
font-family:Orelega One;
align-self:flex-start;
left:709px;
top:338px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:360px;
display:flex;
}
.hereswhatido
{
color:#1c1c1c;
text-align:center;
vertical-align:text-top;
font-size:56px;
font-family:Orelega One;
align-self:flex-start;
left:504px;
top:1107px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:432px;
display:flex;
}
.arrow
{
background-color:#ffffff;
height:36px;
width:36px;
align-self:flex-start;
left:702px;
top:1007px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector
{
height:25.5px;
width:18.209999084472656px;
left:8.89px;
top:5.25px;
position:absolute;
}
.iconsaxlineararrowdown
{
background-color:#ffffff;
height:36px;
width:36px;
padding:0px;
}
.vector2
{
height:25.5px;
width:18.209999084472656px;
width:18.209999084472656px;
height:25.5px;
left:8.894999504089355px;
top:5.25px;
position:absolute;
}
.arrow3
{
background-color:#ffffff;
height:36px;
width:36px;
align-self:flex-start;
left:702px;
top:1663px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector3
{
height:25.5px;
width:18.209999084472656px;
left:8.89px;
top:5.25px;
position:absolute;
}
.iconsaxlineararrowdown2
{
background-color:#ffffff;
height:36px;
width:36px;
padding:0px;
}
.vector4
{
height:25.5px;
width:18.209999084472656px;
width:18.209999084472656px;
height:25.5px;
left:8.894999504089355px;
top:5.25px;
position:absolute;
}
.group7
{
align-self:flex-start;
left:324px;
top:1232px;
position:absolute;
width:792px;
height:181px;
}
.group3
{
width:180px;
height:180px;
top:1232px;
left:528px;
position:absolute;
}
.rectangle12
{
background-color:#ffffff;
height:180px;
width:180px;
border-radius:32px;
border:2px solid #1c1c1c;
top:1232px;
left:528px;
position:absolute;
}
.iconsaxlinearbrushsquare
{
background-color:#ffffff;
height:72px;
width:72px;
padding:0px;
left:582px;
top:1270px;
position:absolute;
}
.vector5
{
height:60px;
width:60px;
width:60px;
height:60px;
left:0px;
top:0px;
position:absolute;
}
.vector6
{
height:37.50065994262695px;
width:37.579898834228516px;
width:37.579898834228516px;
height:37.50065994262695px;
left:0px;
top:0px;
position:absolute;
}
.vector7
{
height:29.428863525390625px;
width:29.401824951171875px;
width:29.401824951171875px;
height:29.428863525390625px;
left:0px;
top:0px;
position:absolute;
}
.webdesign
{
color:#1c1c1c;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:553px;
top:1354px;
width:130px;
height:21px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group4
{
width:180px;
height:180px;
top:1232px;
left:324px;
position:absolute;
}
.rectangle11
{
background-color:#ffffff;
height:180px;
width:180px;
border-radius:32px;
border:2px solid #1c1c1c;
top:1232px;
left:324px;
position:absolute;
}
.iconsax-linear/elementequal
{
background-color:#ffffff;
height:72px;
width:72px;
padding:0px;
left:378px;
top:1270px;
position:absolute;
}
.vector8
{
height:60px;
width:60px;
width:60px;
height:60px;
left:0px;
top:0px;
position:absolute;
}
.vector9
{
height:12px;
width:18px;
width:18px;
height:12px;
left:0px;
top:0px;
position:absolute;
}
.ui-uxdesign
{
color:#1c1c1c;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:349px;
top:1354px;
width:130px;
height:21px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group5
{
width:180px;
height:180px;
top:1233px;
left:732px;
position:absolute;
}
.rectangle122
{
background-color:#ffffff;
height:180px;
width:180px;
border-radius:32px;
border:2px solid #1c1c1c;
top:1233px;
left:732px;
position:absolute;
}
.iconsax-linear/box
{
background-color:#ffffff;
height:72px;
width:72px;
padding:0px;
left:786px;
top:1271px;
position:absolute;
}
.vector10
{
height:42.51000213623047px;
width:52.80000305175781px;
width:52.80000305175781px;
height:42.51000213623047px;
left:0px;
top:0px;
position:absolute;
}
.vector11
{
height:60.00749969482422px;
width:57.69000244140625px;
width:57.69000244140625px;
height:60.00749969482422px;
left:0px;
top:0px;
position:absolute;
}
.vector12
{
height:27.419998168945312px;
width:28.469999313354492px;
width:28.469999313354492px;
height:27.419998168945312px;
left:0px;
top:0px;
position:absolute;
}
.branding
{
color:#1c1c1c;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:757px;
top:1355px;
width:130px;
height:21px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group6
{
width:58.37999725341797px;
height:36.51000213623047px;
left:0px;
top:0px;
position:absolute;
}
.vector14
{
height:36.51000213623047px;
width:58.37999725341797px;
width:58.37999725341797px;
height:36.51000213623047px;
left:6.8px;
top:6px;
width:58.37999725341797px;
height:36.51000213623047px;
position:absolute;
}
.mydesignphilosophycombinesaccessibilitystorytellingandaclearunderstandingofuservaluestocreatecohesiveandintuitiveexperiences
{
color:#1c1c1c;
text-align:center;
vertical-align:text-top;
font-size:20px;
align-self:flex-start;
left:357px;
top:1461px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:726px;
display:flex;
}
.letmeshowyouwhativebeenworkingon
{
color:#1c1c1c;
text-align:center;
vertical-align:text-top;
font-size:56px;
font-family:Orelega One;
align-self:flex-start;
left:407px;
top:1763px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:625px;
display:flex;
}
.primarybutton2
{
background-color:#ffffff;
height:48px;
width:192px;
align-self:flex-start;
left:624px;
top:1551px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.rectangle52
{
background-color:#f8aa27;
height:48px;
width:192px;
border-radius:100px;
}
.seemywork2
{
color:#1c1c1c;
text-align:center;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
left:50px;
top:12px;
width:92px;
height:23px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.project
{
background-color:#d9d9d9;
height:400px;
width:384px;
align-self:flex-start;
left:120px;
top:1993px;
position:absolute;
border-radius:32px;
padding:0px;
}
.image10
{
height:1834px;
width:660px;
}
.project2
{
background-color:#d9d9d9;
height:400px;
width:384px;
align-self:flex-start;
left:528px;
top:1993px;
position:absolute;
border-radius:32px;
padding:0px;
}
.image102
{
height:1834px;
width:660px;
}
.project3
{
background-color:#d9d9d9;
height:400px;
width:384px;
align-self:flex-start;
left:936px;
top:1993px;
position:absolute;
border-radius:32px;
padding:0px;
}
.image103
{
height:1834px;
width:660px;
}
.projecttitle
{
color:#1c1c1c;
text-align:center;
vertical-align:text-top;
font-size:40px;
font-family:Orelega One;
align-self:flex-start;
left:120px;
top:2417px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:223px;
display:flex;
}
.projecttitle2
{
color:#1c1c1c;
text-align:center;
vertical-align:text-top;
font-size:40px;
font-family:Orelega One;
align-self:flex-start;
left:528px;
top:2416px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:223px;
display:flex;
}
.projecttitle3
{
color:#1c1c1c;
text-align:center;
vertical-align:text-top;
font-size:40px;
font-family:Orelega One;
align-self:flex-start;
left:936px;
top:2417px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:223px;
display:flex;
}
.thenationsmostdistinguishedhonorsocietymeetsthemoderndigitalexperienceinthiswebsiteredesign
{
color:#1c1c1c;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
align-self:flex-start;
left:120px;
top:2471px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:384px;
display:flex;
}
.thenationsmostdistinguishedhonorsocietymeetsthemoderndigitalexperienceinthiswebsiteredesign2
{
color:#1c1c1c;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
align-self:flex-start;
left:528px;
top:2470px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:384px;
display:flex;
}
.thenationsmostdistinguishedhonorsocietymeetsthemoderndigitalexperienceinthiswebsiteredesign3
{
color:#1c1c1c;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
align-self:flex-start;
left:936px;
top:2471px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:384px;
display:flex;
}
.view
{
background-color:#ffffff;
height:24px;
width:152px;
align-self:flex-start;
left:120px;
top:2548px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.viewproject
{
color:#1c1c1c;
text-align:center;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
line-height:auto;
border-style:hidden;
outline:none;
width:110px;
}
.iconsax-linear/arrowright
{
background-color:#ffffff;
height:24px;
width:24px;
padding:0px;
left:128px;
position:absolute;
}
.vector15
{
height:12.139999389648438px;
width:17px;
width:17px;
height:12.139999389648438px;
left:0px;
top:5.929999828338623px;
position:absolute;
}
.view3
{
background-color:#ffffff;
height:24px;
width:152px;
align-self:flex-start;
left:528px;
top:2547px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.viewproject2
{
color:#1c1c1c;
text-align:center;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
line-height:auto;
border-style:hidden;
outline:none;
width:110px;
}
.iconsax-linear/arrowright2
{
background-color:#ffffff;
height:24px;
width:24px;
padding:0px;
left:128px;
position:absolute;
}
.vector16
{
height:12.139999389648438px;
width:17px;
width:17px;
height:12.139999389648438px;
left:0px;
top:5.929999828338623px;
position:absolute;
}
.view5
{
background-color:#ffffff;
height:24px;
width:152px;
align-self:flex-start;
left:936px;
top:2548px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.viewproject3
{
color:#1c1c1c;
text-align:center;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
line-height:auto;
border-style:hidden;
outline:none;
width:110px;
}
.iconsax-linear/arrowright3
{
background-color:#ffffff;
height:24px;
width:24px;
padding:0px;
left:128px;
position:absolute;
}
.vector17
{
height:12.139999389648438px;
width:17px;
width:17px;
height:12.139999389648438px;
left:0px;
top:5.929999828338623px;
position:absolute;
}
.likewhatyousee
{
color:#1c1c1c;
text-align:center;
vertical-align:text-top;
font-size:24px;
font-family:DM Sans;
align-self:flex-start;
left:599px;
top:2735px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:241px;
display:flex;
}
.letsworktogether
{
color:#1c1c1c;
text-align:center;
vertical-align:text-top;
font-size:56px;
font-family:Orelega One;
align-self:flex-start;
left:407px;
top:2802px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:625px;
display:flex;
}
.primarybutton3
{
background-color:#ffffff;
height:48px;
width:192px;
align-self:flex-start;
left:624px;
top:2887px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.rectangle53
{
background-color:#ffffff;
height:48px;
width:192px;
border-radius:100px;
}
.seemywork3
{
color:#1c1c1c;
text-align:center;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
left:34px;
top:12px;
width:124px;
height:23px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.ellipse1
{
background-color:#ffffff;
height:484px;
width:484px;
filter:drop-shadow(-10px 10px 0px rgba(0.9725490212440491,0.6666666865348816,0.15294118225574493,1));
top:285px;
left:120px;
position:absolute;
border-radius:50%;
}
.footer
{
background-color:#ffffff;
height:319px;
width:1440px;
align-self:flex-start;
top:2950px;
left:0px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.rectangle29
{
background-color:#1c1c1c;
height:258px;
width:1440px;
top:61px;
left:0px;
position:absolute;
}
.iconmail
{
width:27px;
height:27px;
left:558px;
top:236px;
position:absolute;
}
.vector18
{
height:27px;
width:27px;
width:27px;
height:27px;
left:558px;
top:236px;
width:27px;
height:27px;
position:absolute;
}
.vector19
{
background-color:#f8aa27;
height:18px;
width:22.5px;
width:22.5px;
height:18px;
left:560.24px;
top:240.5px;
width:22.5px;
height:18px;
position:absolute;
}
.footer2
{
background-color:#ffffff;
height:319px;
width:1440px;
padding:0px;
border-style:hidden;
outline:none;
position:absolute;
}
.goodafterjun2
{
color:#f8aa27;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:DM Sans;
line-height:auto;
border-style:hidden;
outline:none;
left:134px;
top:114px;
position:absolute;
width:125px;
}
.contact
{
color:#f8aa27;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:DM Sans;
left:558px;
top:114px;
width:77px;
height:26px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.quicklinks
{
color:#f8aa27;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:DM Sans;
left:814px;
top:114px;
width:98px;
height:26px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.welcometogoodafterjun,thedigitalportfolioofjun—designer,webcreator,andcatlover,currentlybasedinirvine,ca.©copyright2023goodafterjun
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:134px;
top:158px;
width:318px;
height:105px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.emailemailcom
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:558px;
top:158px;
width:150px;
height:21px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.iconlinkedinin
{
width:20px;
height:19.999555587768555px;
left:598px;
top:237px;
position:absolute;
}
.vector20
{
background-color:#f8aa27;
height:19.999555587768555px;
width:20px;
width:20px;
height:19.999555587768555px;
left:598px;
top:237px;
width:20px;
height:19.999555587768555px;
position:absolute;
}
.home2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:814px;
top:158px;
width:43px;
height:21px;
position:absolute;
line-height:auto;
text-decoration:underline;
border-style:hidden;
outline:none;
}
.works2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:814px;
top:185px;
width:43px;
height:21px;
position:absolute;
line-height:auto;
text-decoration:underline;
border-style:hidden;
outline:none;
}
.about2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:814px;
top:212px;
width:44px;
height:21px;
position:absolute;
line-height:auto;
text-decoration:underline;
border-style:hidden;
outline:none;
}
.resume
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:814px;
top:239px;
width:56px;
height:21px;
position:absolute;
line-height:auto;
text-decoration:underline;
border-style:hidden;
outline:none;
}
.primarybutton4
{
background-color:#ffffff;
height:48px;
width:192px;
align-self:flex-start;
left:624px;
top:1909px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.rectangle54
{
background-color:#f8aa27;
height:48px;
width:192px;
border-radius:100px;
}
.seemywork4
{
color:#1c1c1c;
text-align:center;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
left:20px;
top:12px;
width:153px;
height:23px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.iconsparkle
{
align-self:flex-start;
left:1069px;
top:308px;
position:absolute;
width:43px;
height:43px;
}
.vector21
{
background-color:#f8aa27;
height:43px;
width:43px;
width:43px;
height:43px;
left:1069px;
top:308px;
width:43px;
height:43px;
position:absolute;
}
.iconsparkle2
{
align-self:flex-start;
left:1020px;
top:1786px;
position:absolute;
width:25px;
height:25px;
}
.vector22
{
background-color:#1c1c1c;
height:25px;
width:25px;
width:25px;
height:25px;
left:1020px;
top:1786px;
width:25px;
height:25px;
position:absolute;
}
.iconsparkle3
{
align-self:flex-start;
left:1012px;
top:1772px;
position:absolute;
width:16px;
height:16px;
}
.vector23
{
background-color:#1c1c1c;
height:16px;
width:16px;
width:16px;
height:16px;
left:1012px;
top:1772px;
width:16px;
height:16px;
position:absolute;
}
.iconsparkle4
{
align-self:flex-start;
left:1195px;
top:1150px;
position:absolute;
width:36px;
height:36px;
}
.vector24
{
background-color:#1c1c1c;
height:36px;
width:36px;
width:36px;
height:36px;
left:1195px;
top:1150px;
width:36px;
height:36px;
position:absolute;
}
.ellipse3
{
background-color:#d9d9d9;
height:448px;
width:448px;
top:303px;
left:138px;
position:absolute;
border-radius:50%;
}
